<p style="color: green"><%= notice %></p>

<% content_for :title, "Books" %>

<h1>Books Collection</h1>

<div id="books">
  <% @books.each do |book| %>
    <p>
      <strong>Title:</strong>
      <%= book.title %>
    </p>

    <p>
      <strong>Author:</strong>
      <%= book.author %>
    </p>

    <p>
      <strong>Price:</strong>
      $<%= number_with_precision(book.price, precision: 2) %>
    </p>

    <p>
      <strong>Published Date:</strong>
      <%= book.published_date %>
    </p>

    <p>
      <%= link_to "Show", book %> |
      <%= link_to "Edit", edit_book_path(book) %> |
      <%= link_to "Delete", delete_book_path(book) %>
    </p>
  <% end %>
</div>

<%= link_to "Add New book", new_book_path %>
